html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#appPanel {
    display: none;
    padding: 5px;
    margin: 0;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
}

#viewDiv {
    width: 100%;
    height: 100%;
}